/* Estilos generales */
body {
  font-family: sans-serif;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

/* Imágenes responsivas */
img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 1.5em auto;
  border-radius: 6px;
}

/* Clase personalizada para imágenes más pequeñas */
.img-pequena {
  max-width: 600px;
  width: 100%;
  height: auto;
  display: block;
  margin: 1.5em auto;
  border-radius: 8px;
}
